<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
  <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
 </packageSources>
  <disabledPackageSources>
    <add key="Concord Symbols ProGet" value="true" />
    <add key="Package source" value="true" />
    <add key="RxNet Reactive" value="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
